@{
    ViewData["Title"] = "Sample";
}

<div>
    <div id="date"></div>
    <div>@(ViewData["Requested"]) requested</div>
    <div>@(ViewData["Cached"]) cached @((bool)ViewData["IsCached"] ? "from" : "new") lazy cache</div>
    <script>
        function step(timestamp) {
            var now = new Date();
            var year = now.getFullYear();
            var month = ('0' + (now.getMonth() + 1)).slice(-2);
            var day = ('0' + now.getDate()).slice(-2);
            var hours = ('0' + now.getHours()).slice(-2);
            var minutes = ('0' + now.getMinutes()).slice(-2);
            var seconds = ('0' + now.getSeconds()).slice(-2);
            document.getElementById('date').textContent = `${year}/${month}/${day} ${hours}:${minutes}:${seconds} now`;

            window.requestAnimationFrame(step);
        }
        window.requestAnimationFrame(step);
    </script>
</div>
